* {
    margin: 0;
    padding: 0;
}
/*Elimina el margen y relleno predeterminado de los elementos*/


body {

    background: black;
}
/*Es el color de fondo negro porque no somos racistas*/


.Contenedor {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 150px;
}



.estrella {
    padding-top: 50px;
    color: #FFD700;
    animation: titilar 2.5s infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;

}


.arbol_cont {
    width: 100%;
    height: 500px;
    margin-top: 40px; /* margen del arbol y estreñña*/
    top: 100px;
    text-align: center;
    position: relative;
}



.arbol {
    text-align: center;
    font-size: 25px;
    color: red;
}



.rojo {

    color: red;

}



@keyframes titilar {

    0%, 100% {opacity: 1; }
    50% {opacity: 0; }

}
/*
Controla la animacion de la estrella
*/



@keyframes colores {
    0%{color: red;}
    25%{color: green;}
    50%{color: yellow;}
    85%{color: white;}
    100%{color: red;}
}

/*
Controla la animacion de colores para que se vea como si tuviera lucecitas uwu
*/








/*
Mensaje super original de navidad
*/

.contenedor_text {
    font-family: "Sour Gummy", serif;
    /*font-weight: ;  grosor del texto*/
    font-style: normal;
    font-variation-settings: "wdth" 100;


    color: white;
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.Text2 {
    padding-top: 10px;
}


.Text3 {
    padding-top: 10px;
}



.Text4 {
    padding-top: 10px;
    margin-bottom: 50px;
}




/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900

.sour-gummy-<uniquifier> {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

    */